*{
    margin: 0;
    padding: 0;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffffff url(Images/preloader.gif) no-repeat center;
    z-index: 10000;
}
.main::before{
    /* background-image: linear-gradient(to right, black, #f90000b8); */
    background-image: url(Images/bg.png);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.8; */
}
.header{
    /* border: 2px solid red; */
    display: block;
    padding: 22px 20px;
    padding-bottom: 6px;
    /* background-color: black; */
    color: white;
    font-family: 'Syne Mono', monospace;
}
h1{
    display: block;
    font-size: 60px;
}
h4{
    display: inline-block;
    font-size: 20px;
    border-left: 5px solid #ff7777;
    padding: 5px 0px 0px 5px;
    margin-left: 7px;
}
.box{
    /* border: 2px solid pink; */
    /* width: 800px; */
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 100px; */
}
.container{
    box-shadow: 0px 0px 10px red;
    width: 33%;
    height: 120%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* height: auto;
   
    margin-left: 400px;
    text-align: center;
    font-size: 40px; */
    margin-top: 30px;
    color: black; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.heading{
    font-size: 40px;
    text-shadow: 0.9px 1.4px 2px #e01414c2;
    margin: 26px;
}
.info{
    text-align: center;
    /* padding-left: 10px; */
    margin: 0px 27px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 88%;
    border-bottom: 2px solid black;
}

.info i{
    width: 30px;
    text-align: center;
    padding: 2px;
}
#eye{
    display: inline;
}

#slasheye{
    display: none;
}

.info input{
    width: 76%;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 8px;
    /* text-align: center; */
    /* border: 2px solid red; */
}
#email{
    width: 83%;
}
.fpassword{
    font-style: italic;
}
.fpassword a{
    color: #2449ff;
    text-decoration: none;
}
.fpassword :hover{
    text-decoration: underline;
}
.login{
    margin: 0px 20px;
    text-align: center;
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 5px;
}
#btn_login{
    margin: 10px 0px;
    text-align: center;
    width: 50%;
    font-size: 20px;
    padding: 5px;
    border-radius: 17px;
    background-color: #fd7d7dba;
    outline: none;
}
#btn_login:hover{
    cursor: pointer;
    background-color: #ff000080;
}
#btn_login:active{
    text-decoration: underline;
    
}
.btn{
    padding: 15px 20px;
    font-size: 15px;
    margin: 15px 10px;
    color: white;
    box-shadow: 0px 0px 3px black;
}
#google{
    background-color: #4285f4;
    border: #4285f4;
    outline: none;
}
#facebook{
    background-color: #4267b2;
    border: #4267b2;
    outline: none;
}
#google:hover{
    cursor: pointer;
    background-color: #3270d4;
}
#facebook:hover{
    cursor: pointer;
    background-color: #36599e;
}
.signup p{
    margin: 20px 0px;
}
.signup a{
    color: #002bffdb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.warning{
    text-align: justify;
    padding: 10px;
    margin: 15px 7px;
    font-size: 13px;
    text-shadow: 0px 0px 1px black;
    /* font-weight: bold; */
}
.heading1{
    text-align: justify;
    margin: 15px;
    margin-top: 5px;
    padding: 5px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.reset{
    margin: 0px 20px;
    text-align: center;
    /* width: 100%; */
    /* font-size: 20px; */
    padding: 5px;
}
#btn_reset{
    margin: 25px 0px;
    text-align: center;
    width: 50%;
    font-size: 20px;
    padding: 5px;
    border-radius: 17px;
    background-color: #fd7d7dba;
    outline: none;
}
#btn_reset:hover{
    cursor: pointer;
    background-color: #ff000080;
}
#btn_reset:active{
    text-decoration: underline;
    
}